body {
    background-color: #7c535393;
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button{
    background-color: #4CAF50;
}
.add-button:hover{
    background-color: #455d7e;
}
.delete-button{
    background-color: #f44336;
}
.delete-button:hover{
    background-color: #d32f2f;
}
.move-button{
    background-color: #008CBA;
}
.move-button:hover{
    background-color: #007bb5;
}
input[type="text"]{
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    color: #0000006d;
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    margin: 10px 0;
    padding: 15px;
    background-color: #666666;
    margin-bottom: 10px;
    border: 3px solid #0000006d;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}